<h1 class='mb-4'>Manage Positions</h1>
    <div id="instructions">
        <p>Page allows you to manage your positions including:</p>
        <ul>
            <li>
                <p>Adding positions to your team</p>
            </li>
            <li>
                <p>Updating position information</p>
            </li>
            <li>
                <p>Removing positions from your team</p>
            </li>
            <li>
                <p>Retrieve all positions on your team</p>
            </li>
            <li>
                <p>Managing PositionPlayer M:M relationship</p>
            </li>
            <li>
                <p>Managing PositionCoach M:M relationship</p>
            </li>
        </ul>
    </div>

    <div id="tablepositionfilter">
        <label for="teamgroup">Search positions by group: (Offense, Defense, Special Teams) </label>
        <input type="text" id="teamgroup">
        <button type="submit" class="btn btn-primary">Submit Query</button>
        <button type="submut" class="btn btn-primary">Reset</button>
    </div>

    <div id="positiontable">
        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Position Name</th>
                    <th scope="col">Team Group</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Quarterback</td>
                    <td>Offense</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tight End</td>
                    <td>Offense</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Wide Reciever</td>
                    <td>Offense</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="addposition">
        <p>Add a new position:</p>
        <form>
            <div class="form-group">
                <label for="positionname">Position Name:</label>
                <input type="text" id="positionname" value="positionname">
            </div>
            <div class="form-group">
                <label for="group">Team Group:</label>
                <input type="text" id="group" value="group">
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div id="tablepositionplayerfilter">
        <p>Submit a query to filter by position:</p>
        <select name="positionfilter" id="positionfilter-ajax">
            <option value="">Select a Position</option>
            <option value="1">Quarterback</option>
            <option value="2">Tight End</option>
            <option value="3">Wide Reciever</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit Query</button>
        <button type="submit" class="btn btn-primary">Reset</button>
    </div>

    
    <div id="positionplayertable">
        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th scope="col">Player ID</th>
                    <th scope="col">Position ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="tablepositioncoachfilter">
        <p>Submit a query to filter by position:</p>
        <select name="positionfilter" id="positionfilter-ajax">
            <option value="">Select a Position</option>
            <option value="1">Quarterback</option>
            <option value="2">Tight End</option>
            <option value="3">Wide Reciever</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit Query</button>
        <button type="submit" class="btn btn-primary">Reset</button>
    </div>

    <div id="positioncoachtable">
        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th scope="col">Position ID</th>
                    <th scope="col">Coach ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
