.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Georgia;
}

.App-link {
  color: #61dafb;
  font-family: Georgia;
}

.App-header table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.4em;
  font-family: Georgia;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.App-header thead tr {
  background-color: darkslateblue;
  color: ivory;
  text-align: center;
}

.App-header th, .App-header td{
  padding: 12px 15px;
}

.App-header tbody tr {
  border-bottom: 1px solid black;
}

.App-header tbody tr:nth-of-type(even) {
  background-color:lightseagreen;
}
