 <h1>NFL Payroll Database</h1>

    <p>What would you like to do?</p>
    <ul>
        <li>
            <a href="/player">Manage players</a>
        </li>
        <li>
            <a href="/coach">Manage coaches</a>
        </li>
        <li>
            <a href="/position">Manage positions</a>
        </li>
        <li>
            <a href="/team">Manage teams</a>
        </li>
    </ul>