<h1 class='mb-4'>Manage Teams</h1>
    <div id="instructions">
        <p>Page allows you to manage teams including:</p>
        <ul>
            <li>Add a new team</li>
            <li>Edit a team's information</li>
            <li>Remove a team</li>
            <li>Retrieve all teams in the league</li>
        </ul>
    </div>

    <div id="tableteamfilter">
        <label for="location">Search teams by location: </label>
        <input type="text" id="location">
        <button type="submit" class="btn btn-primary">Submit Query</button>
        <button type="submut" class="btn btn-info">Reset</button>
    </div>

    <div id="teamtable">
        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Location</th>
                    <th scope="col">Team Name</th>
                    <th scope="col">Stadium</th>
                    <th scope="col">Salary Cap</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tampa Bay</td>
                    <td>Buccaneers</td>
                    <td>Raymond James Stadium</td>
                    <td>208200000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>New England</td>
                    <td>Patriots</td>
                    <td>Gillette Stadium</td>
                    <td>208200000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Los Angeles</td>
                    <td>Ramss</td>
                    <td>Sofi Stadium</td>
                    <td>208200000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="addteam">
        <p>Add a new team:</p>
        <form>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" value="location">
            </div>
            <div class="form-group">    
                <label for="teamname">Team Name:</label>
                <input type="text" id="teamname" value="teamname">
            </div>
            <div class="form-group">
                <label for="stadium">Stadium:</label>
                <input type="text" id="stadium" value="stadium">
            </div>
            <div class="form-group">
                <label for="salarycap"> Salary Cap:</label>
                <input type="number" id="salarycap" value="salarycap">
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
