<h1 class='mb-4'>Manage Coaches</h1>
    <div id="instructions">
        <p>Page allows you to manage your coaches including:</p>
        <ul>
            <li>Adding coaches to your team</li>
            <li>Updating coaches information</li>
            <li>Removing coaches from your team</li>
            <li>Retrieve all coaches on your team</li>
        </ul>
    </div>

    <div id="tablecoachfilter">
        {{!-- REMINDER: REPLACE NUMBER INPUT WITH SELECT INPUT --}}
        <label for="rating">Search coaches by rating: (descending) </label>
        <input type="number" id="rating">
        <button type="submit" class="btn btn-primary">Submit Query</button>
        <button type="submut" class="btn btn-info">Reset</button>
    </div>

    <div id="coachtable">
        <table class="table">
            <thead class='thead-dark'>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Coach Type</th>
                    <th scope="col">Team ID</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Josh McDaniels</td>
                    <td>QB Coach</td>
                    <td>2</td>
                    <td>95.0</td>
                    <td>20000000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Troy Brown</td>
                    <td>WR Coach</td>
                    <td>2</td>
                    <td>84.0</td>
                    <td>2000000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nick Caley</td>
                    <td>TE Coach</td>
                    <td>2</td>
                    <td>78.0</td>
                    <td>1000000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="addcoach">
        <p>Add a new coach:</p>
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name">
            </div>
            <div class="form-group">
                <label for="type">Coach Type:</label>
                <input type="text" id="type">
            <div class="form-group">
                <label for="team">Team</label>
                <input type="number" id="team">
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" id="rating">
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" id="salary">
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
