<h1 class='mb-4'>Manage Players</h1>
    <div id="instructions">
        <p>Page allows you to manage your players including:</p>
        <ul>
            <li>Adding players to your team</li>
            <li>Updating players information</li>
            <li>Removing players from your team</li>
            <li>Retrieve all players on your team</li>
        </ul>
    </div>

    <div id="tableplayerfilter">
        {{!-- REMINDER: REPLACE NUMBER INPUT WITH SELECT INPUT --}}
        <label for="salary">Search players by salary: (descending) </label>
        <input type="number" id="salary">
        <button type="submit" class="btn btn-primary">Submit Query</button>
        <button type="submut" class="btn btn-info">Reset</button>
    </div>

    <div id="playertable">
        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">Debut</th>
                    <th scope="col">Jersey #</th>
                    <th scope="col">Team</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tom Brady</td>
                    <td>1980-01-01</td>
                    <td>2000-01-01</td>
                    <td>12</td>
                    <td>1</td>
                    <td>95.0</td>
                    <td>10000000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Antonio Brown</td>
                    <td>1990-01-01</td>
                    <td>2010-01-01</td>
                    <td>81</td>
                    <td>1</td>
                    <td>84.0</td>
                    <td>5000000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Rob Gronkowski</td>
                    <td>1988-01-01</td>
                    <td>2012-01-01</td>
                    <td>89</td>
                    <td>1</td>
                    <td>88.0</td>
                    <td>7000000</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="addplayer">
        <p>Add a new player:</p>
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name">
            </div>
            <div class="form-group">
                <label for="birthdate">Birthdate:</label>
                <input type="date" id="birthdate">
            </div>
            <div class="form-group">
                <label for="debut">Debut:</label>
                <input type="date" id="debut">
            </div>
            <div class="form-group">
                <label for="number">Jersey Number</label>
                <input type="number" id="number">
            </div>
            <div class="form-group">
                <label for="team">Team</label>
                <input type="number" id="team">
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" id="rating">
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" id="salary">
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
